name: Flutter Tests

on:
  workflow_call: {}

jobs:
  unit_tests:
    name: CI - Flutter unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Run common CI setup
        uses: ./.github/actions/ci-setup
        with:
          install_poppler: 'true'
          install_lcov: 'false'
          install_git_lfs: 'true'

      - name: Cache pub packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            ~/.pub-cache/bin
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Install dependencies
        run: flutter pub get

      - name: Static analysis
        run: flutter analyze

      - name: Run Flutter unit tests
        run: flutter test --coverage
